@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background-color: rgb(248, 248, 248);
}

a {
    color:#0a7e6e;
    text-decoration: none;
    transition: 0.3s;
}

.header-home{
    display: flex;
    justify-content: space-evenly; /*espaço ao redor é igual que o espaço entre eles*/
    align-items: center;
    background: rgb(248, 248, 248);
    height: 70px; /*unidade de medida que se adapta a altura da janela de visu do usuário: max 100*/
    width: 100%;
}

.logo{
    height: 70px;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.7;
}

.header-list {
    list-style: none;
    display: flex;
}

.header-list li a{
    position: relative;
    margin-left: 30px;
}

.header-list li a:hover{
    color: #97d0ca;
}

.contact{
    list-style: none;
}

.button1 {
    color: rgb(248, 248, 248);
    background-color: #0a7e6e;
    padding: 7px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.button1:hover{
    border: 1px solid #0a7e6e;
    color: #0a7e6e;
    background-color: rgb(248, 248, 248); 
}

.button {
    color: #0a7e6e;
    border: 1px solid #0a7e6e;
    padding: 7px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover{
    background-color: #0a7e6e;
    color: #e4e7e7;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: #383038;
    font-size: large;
}

.banner-text h1{
    letter-spacing: 4px;
    line-height: 40px;
    font-size: 50px;
}

.banner-text h4{
    color: #0a7e6e;
    letter-spacing: 4px;
    line-height: 40px;
    font-size: 20px;
}

.banner-text h5{
    color: rgba(0, 0, 0, 0.596);
    margin-top: 1.5rem;
    font-size: 12px;
}

.yoga-pose{
    height: 500px;
    margin-left: 30px;
}


footer{
    background-color: rgb(248, 248, 248);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm {
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.sm:hover {
    opacity: 0.7;
}