@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background-color: rgb(248, 248, 248);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    position: relative;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
}

a {
    color:#0a7e6e;
    text-decoration: none;
    transition: 0.3s;
}

.header-home{    
    height: 10vh; /*unidade de medida que se adapta a altura da janela de visu do usuário: max 100*/
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: space-around; /*espaço ao redor é igual que o espaço entre eles*/
    align-items: center;
    background: rgb(248, 248, 248);
    z-index: 1;
}

.logo{
    height: 70px;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.7;
}

.header-list {
    list-style: none;
    display: flex;
}

.header-list li a{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.header-list li a:hover{
    color: #97d0ca;
}

.contact{
    list-style: none;
}

.button1 {
    color: rgb(248, 248, 248);
    background-color: #0a7e6e;
    padding: 7px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.button1:hover{
    border: 1px solid #0a7e6e;
    color: #0a7e6e;
    background-color: rgb(248, 248, 248); 
}

main{
    height: 80vh;
}

.banner{
    display: flex;
    color: #383038;
    font-size: large;
    height: 80vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem 4rem 7rem;
}

.banner-text h1{
    letter-spacing: 4px;
    line-height: 60px;
    font-size: 60px;
}

.banner-text h4{
    color: #0a7e6e;
    letter-spacing: 4px;
    line-height: 40px;
    font-size: 23px;
}

.banner-text h5{
    color: rgba(0, 0, 0, 0.596);
    margin-top: 1.5rem;
    font-size: 15px;
}

.button {
    color: #0a7e6e;
    border: 1px solid #0a7e6e;
    padding: 7px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover{
    background-color: #0a7e6e;
    color: rgb(248, 248, 248);
}

.banner-sm{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.sm {
    height: 35px;
    transition: 0.3s;
}

.sm:hover {
    opacity: 0.7;
}

.images{
    height: 80vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yoga-pose{
    height: 510px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(248, 248, 248);
    height: 10vh;
    width: 100%;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    height: 70px;
    transition: 0.3s;
}